*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
    user-select: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;

  }
  
  .logo {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
  }

  .logo img{
    width: 120px;
    height: 170px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .nav-links li {
    padding: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 850;
  }
  
  .hamburger-menu {
    display: none; 
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
  }
  
  .nav-links li:hover{
     scale: 1.25;
     transition: 0.5s;
     transform: matrix(1, 0, 0, 1, 0, 0);
     border-bottom: 2px solid greenyellow;
  }

  .contenitore{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }

  .carta {
    margin-top: 10%;
    position: relative;
    width: 300px;
    height: 350px;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 5px;
    margin-bottom: 10%;
  }

  .carta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bottone {
    position: absolute;
    min-width: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2.5px;
    border: 2px solid rgb(107, 107, 116);
    color: black;
    display: none;
    transition: 0.5s;
  }

  .bottone:hover{
    border: 2px solid orangered;
    scale: 1.15;
  }

  .carta:hover img {
    opacity: 0.5;
  }

  .carta:hover .bottone {
    display: block;
  }

  .carosello{
    display: flex;
    justify-content: center;
    border: 0px solid black;
    border-radius: 5px;
    flex-direction: column;
    width: 1100px;
    height: 600px;
    text-align: center;
    align-items: center;
    background-color: white;
    margin-bottom: 10%;
  }

  .carosello img{
    width: 95%;
    height: 95%;
    border: 5px solid black;
    
  }

  .menu{
    display: flex;
    justify-content: row;
    background: url("img/pasta-3547078_640.jpg");
    width: 100vh;
    height: 60vh;
    overflow: hidden;
    margin-bottom: 10%;
    border: 5px solid black;
  }

  .big_menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60px;
    height: 60vh;
    background-color: white;
    overflow: hidden;
  }

  .sel_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    height: 60vh;
    background-color: white;
    overflow: hidden;
  }

  .sel_menu ul{
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 15%;
  }

  .sel_menu img{
    width: 40px;
    height: 40px;
    margin-left: 5px;
  }

  .portate{
    display: flex;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    width: 60vh;
    height: 60vh;
    display: none;
  }

  .portate ul{
    text-decoration: none;
    list-style: none;
  }

  .portate li:first-child{
    margin-bottom: 25%;
    font-size: 30px;
  }


  .portate li{
    margin-top: 10%;
    margin-left: 20%;
  }

  .portate li:first-child:hover{
    scale: 1;
     transition: 0s;
     transform: matrix(1, 0, 0, 1, 0, 0);
     border-bottom: 0px solid greenyellow;
  }

  .portate li:hover{
    scale: 1.25;
     transition: 0.5s;
     transform: matrix(1, 0, 0, 1, 0, 0);
     border-bottom: 2px solid greenyellow;
  }

  .corpo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vh;
    height: 60vh;
    display: block;
    opacity: 0.75;
    background: yellow;
  }

  .corpo ul{
    list-style: none;
    text-decoration: none;
  }

  .corpo li{
    margin-top: 15%;
    margin-left: 20%;
    font-weight: bold;
  }

  .corpo li:first-child{
    margin-bottom: 20%;
    font-size: 30px;
  }

  .corpo li:first-child:hover{
    scale: 1;
     transition: 0s;
     transform: matrix(1, 0, 0, 1, 0, 0);
     border-bottom: 0px solid greenyellow;
  }

  .corpo li:hover{
    transition: 1s;
    font-size: 25px;
  }

  .menu_img{
    opacity: 0.75;
    background: yellow;
    width: 250px;
    height: 60vh;
  }

  .menu_img img{
    opacity: 1;
    margin-top: 100px;
    margin-right: -120px;
    width: 300px;
    height: 200px;
  }

  

  .form_prenota{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 400px;
    border: 5px solid black;
    margin-top: 2.5%;
    overflow: hidden;
    align-items: center;
    background: whitesmoke;
    margin-bottom: 5%;
  }

  .nome_row{
    display: flex;
    flex-direction: column;
  }

  .nome_row h2{
    color: blue;
    margin-bottom: 5%;
  }

  .nome_row input{
    width: 200px;
    height: 30px;
    margin-bottom: 5%;
  }

  .nome_row input:focus{
    scale: 1.15;
    border: 3px solid blueviolet;
  }

  .introduzione{
    width: 200vh;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
    border-bottom: 5px solid orangered;
  }

  .introduzione h2{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5%;
    text-align: center;
  }

  .introduzione p{
    font-size: 20px;
    text-align: center;
  }

  .introduzione2{
    width: 200vh;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
    border-bottom: 5px solid yellowgreen;
  }

  .introduzione2 h2{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5%;
    text-align: center;
  }

  .introduzione2 p{
    font-size: 20px;
    text-align: center;
  }

  .introduzione3{
    width: 200vh;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
    border-bottom: 5px solid orchid;
  }

  .introduzione3 h2{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5%;
    text-align: center;
  }

  .introduzione3 p{
    font-size: 20px;
    text-align: center;
  }

  .introduzione4{
    width: 200vh;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
    border-bottom: 5px solid blueviolet;
  }

  .introduzione4 h2{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5%;
    text-align: center;
  }

  .introduzione4 p{
    font-size: 20px;
    text-align: center;
  }

  .mappa{
    width: 210vh;
    height: 80vh;
    border: 5px solid black;
    margin-bottom: 5%;
    display: flex;
    flex-direction: unset;
  }

  .struttura_mappa{
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .where{
    width: 25%;
    height: 100%;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .where ul{
    text-decoration: none;
    list-style: none;
  }

  .where li{
    margin-bottom: 10%;
  }

  .footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    align-items: center;
    background: #333;
    font-size: 25px;
    color: white;
  }

  .footer img{
    margin-left: 5%;
    height: 70px;
    width: 70px;
  }

  .footer img:hover{
    scale: 1.15;
  }

  .sfondo1{
    width: 250vh;
    height: 450px;
    background: url("img/outdoor-dining-6696617_1280.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  .sfondo2{
    width: 250vh;
    height: 450px;
    background: url("img/mallard-6725473_1280.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  .sfondo3{
    width: 250vh;
    height: 450px;
    background: url("img/parrots-4235892_1280.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  .sfondo4{
    width: 250vh;
    height: 450px;
    background: url("img/water-well-4247735_1280.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  .tav{
    display:flex;
    justify-content: center;
  }

  .tavoli_disponibili{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 300px;
    height: 400px;
    border: 5px solid black;
    margin-top: 2.5%;
    overflow: hidden;
    align-items: center;
    background: whitesmoke;
    margin-bottom: 5%;
    margin-right: 10%;
  }

  .tav1{
    font-size: 20px;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
  }

  .tav1 h2{
    font-size: 20px;
    margin-right: 2%;
    margin-left: 10%;
    margin-bottom: 5%;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none; 
      gap: 10px;
    }
  
    li{
        margin-top: 5px;
    }

    .hamburger-menu {
      display: flex; 
    }
  
    
    .bar {
      transition: 0.4s;
    }
  }
  